div.apiConfig form {
	border: solid 1px black;
	padding: 10px;
}

div.apiConfig button.toggle::before {
	content: '  Hide  ';
}
div.apiConfig.minimized button.toggle::before {
	content: '  Show  ';
}

div.apiConfig.minimized form {
	display: none;
}

div.deviceList li {
	padding: 5px;
}

div.deviceList li h3 {
	display: inline;
	margin-block-end: 0;
	margin-block-start: 0;
}

div.deviceList span.indicator {
	width: 15px;
	height: 15px;
	border: 1px solid #aaa;
	border-radius: 50%;
	display: inline-block;
}
div.deviceList .on span.indicator {
	background: #fa0;
}
